@import "tailwindcss";
@import "uniwind";
@layer theme {
    :root {
        /* Dark theme variables */
        @variant dark {
            --color-background: hsl(250.9091 18.6441% 11.5686%);
            --color-foreground: hsl(250 36% 90.1961%);
            --color-card: hsl(251.25 20% 15.6863%);
            --color-card-foreground: hsl(250 36% 90.1961%);
            --color-popover: hsl(251.25 20% 15.6863%);
            --color-popover-foreground: hsl(250 36% 90.1961%);
            --color-primary: hsl(263.0769 32.5% 68.6275%);
            --color-primary-foreground: hsl(250.9091 18.6441% 11.5686%);
            --color-secondary: hsl(254.4828 14.8718% 38.2353%);
            --color-secondary-foreground: hsl(250 36% 90.1961%);
            --color-muted: hsl(254.1176 20.9877% 15.8824%);
            --color-muted-foreground: hsl(258.9474 10.3825% 64.1176%);
            --color-accent: hsl(271.7647 15.5963% 21.3725%);
            --color-accent-foreground: hsl(345.5172 69.0476% 83.5294%);
            --color-destructive: hsl(0 68.6747% 67.451%);
            --color-destructive-foreground: hsl(250.9091 18.6441% 11.5686%);
            --color-border: hsl(252 18.5185% 21.1765%);
            --color-input: hsl(249.4737 19.5876% 19.0196%);
            --color-ring: hsl(263.0769 32.5% 68.6275%);
        }

        /* Light theme variables */
        @variant light {
            --color-background: hsl(260 23.0769% 97.451%);
            --color-foreground: hsl(243.1579 13.6691% 27.2549%);
            --color-card: hsl(0 0% 100%);
            --color-card-foreground: hsl(243.1579 13.6691% 27.2549%);
            --color-popover: hsl(0 0% 100%);
            --color-popover-foreground: hsl(243.1579 13.6691% 27.2549%);
            --color-primary: hsl(260.4 22.9358% 57.2549%);
            --color-primary-foreground: hsl(260 23.0769% 97.451%);
            --color-secondary: hsl(258.9474 33.3333% 88.8235%);
            --color-secondary-foreground: hsl(243.1579 13.6691% 27.2549%);
            --color-muted: hsl(258 15.1515% 87.0588%);
            --color-muted-foreground: hsl(247.5 10.3448% 45.4902%);
            --color-accent: hsl(342.4615 56.5217% 77.451%);
            --color-accent-foreground: hsl(343.4483 23.9669% 23.7255%);
            --color-destructive: hsl(0 62.1891% 60.5882%);
            --color-destructive-foreground: hsl(260 23.0769% 97.451%);
            --color-border: hsl(258.75 17.3913% 81.9608%);
            --color-input: hsl(260 23.0769% 92.3529%);
            --color-ring: hsl(260.4 22.9358% 57.2549%);
        }
        /* amoled theme variables */
        @variant amoled {
            /* Base */
            --color-background: hsl(250 18% 5%);
            --color-foreground: hsl(250 36% 90%);
            --color-card: hsl(250 20% 8%);
            --color-card-foreground: hsl(250 36% 90%);
            --color-popover: hsl(250 20% 8%);
            --color-popover-foreground: hsl(250 36% 90%);
            /* Accent Colors */
            --color-primary: hsl(263 32% 68%);
            --color-primary-foreground: hsl(250 18% 5%);
            --color-secondary: hsl(254 14% 38%);
            --color-secondary-foreground: hsl(250 36% 90%);
            --color-muted: hsl(254 20% 15%);
            --color-muted-foreground: hsl(258 10% 64%);
            --color-accent: hsl(271 15% 21%);
            --color-accent-foreground: hsl(345 69% 83%);
            --color-destructive: hsl(0 68% 67%);
            --color-destructive-foreground: hsl(250 18% 5%);
            /* Borders and Inputs */
            --color-border: hsl(252 18% 12%);
            --color-input: hsl(249 19% 10%);
            --color-ring: hsl(263 32% 68%);
        }
    }
}
